@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;

}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin: auto;
    padding: 30px;

}

h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 70px 20px 10px 20px;

}

p{
    text-align: left;
    margin: 10px;
}

.header-line{
    background: #1CD1B0;
    padding: 10px;

}


.title-box{
    height: 101px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);

}

.footer-line{
    height: 51px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 5px;

}

.main-body {
    padding: 10px;

}

.container{
    text-align: center;
    margin: 70px;


}

.item {
    width: 300px;
    display: inline-block;
    margin: 20px;
    position: relative;

}

.item-bg{
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.item-content {
    width: auto;
    height: auto;

    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2px;
}

.button{
    margin: 40px auto;
    width: 70px;
    background: #00669F;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-align: center;
}

.item-profileimg{
    position: absolute;
    top: 120px;
    left: 100px;
    border-radius: 50%;
    z-index: 2;

}

.item-like{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}
